<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.shop.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.zzy.shop.po.Category">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="ctype" jdbcType="INTEGER" property="ctype" />
    <result column="sort" jdbcType="INTEGER" property="sort"/>
  </resultMap>
  <resultMap id="IndexCategory" type="com.zzy.shop.vo.CategoryVO">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <collection property="products" ofType="com.zzy.shop.po.Product">
      <id column="pid" jdbcType="INTEGER" property="pid" />
      <result column="pname" jdbcType="VARCHAR" property="pname" />
      <result column="price" jdbcType="DECIMAL" property="price" />
      <result column="description" jdbcType="VARCHAR" property="description" />
      <result column="image" jdbcType="VARCHAR" property="image" />
      <result column="amount" jdbcType="INTEGER" property="amount" />
      <result column="pdate" jdbcType="TIMESTAMP" property="pdate" />
      <result column="pnumber" jdbcType="INTEGER" property="pnumber" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    cid, parentid, cname, ctype, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <select id="selectParentCategoryByProductId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select distinct
        c2.cid,
        c2.cname
    from
        category c1,
        category c2
        product_category pc
    where
        c1.cid = pc.cid
    and c1.parentid = c2.cid
    and pc.pid = #{pid, jdbcType=INTEGER}
  </select>
  <select id="listChildCategories" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select distinct
        c2.*
    from
        category c1,
        category c2
    where
        c1.cid = c2.parentid
    and c1.cid = #{cid, jdbcType=INTEGER}
    order by c2.sort
  </select>
  <select id="listParentCategories" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select distinct
        c2.*
    from
        category c1,
        category c2
    where
        c1.cid = c2.parentid
    and c2.cid = #{cid, jdbcType=INTEGER}
    order by c2.sort
  </select>
  <select id="selectIndexCategory" resultMap="IndexCategory">
    select
        c2.cid,
        c2.cname,
        p.pid,
        p.pnumber,
        p.pname,
        p.price,
        p.description,
        p.image,
        p.amount,
        p.pdate
    from
        product p,
        product_category pc,
        category c1,
        category c2
    where
        p.pid = pc.pid
    and c1.cid = pc.cid
    and c2.cid = c1.parentid
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzy.shop.po.Category">
    insert into category (cid, parentid, cname, 
      ctype, sort)
    values (#{cid,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, 
      #{ctype,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zzy.shop.po.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="ctype != null">
        ctype,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null">
        #{ctype,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzy.shop.po.Category">
    update category
    <set>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null">
        ctype = #{ctype,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzy.shop.po.Category">
    update category
    set parentid = #{parentid,jdbcType=INTEGER},
      cname = #{cname,jdbcType=VARCHAR},
      ctype = #{ctype,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>