<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.shop.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.zzy.shop.po.Menu">
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="mtype" jdbcType="INTEGER" property="mtype" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
  </resultMap>
  <sql id="Base_Column_List">
    mid, mname, mtype, parentid, state, href, permission
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzy.shop.po.Menu">
    insert into menu (mid, mname, mtype, 
      parentid, state, href, 
      permission)
    values (#{mid,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, #{mtype,jdbcType=INTEGER}, 
      #{parentid,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{href,jdbcType=VARCHAR}, 
      #{permission,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzy.shop.po.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        mid,
      </if>
      <if test="mname != null">
        mname,
      </if>
      <if test="mtype != null">
        mtype,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="href != null">
        href,
      </if>
      <if test="permission != null">
        permission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mtype != null">
        #{mtype,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzy.shop.po.Menu">
    update menu
    <set>
      <if test="mname != null">
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mtype != null">
        mtype = #{mtype,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="href != null">
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzy.shop.po.Menu">
    update menu
    set mname = #{mname,jdbcType=VARCHAR},
      mtype = #{mtype,jdbcType=INTEGER},
      parentid = #{parentid,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      href = #{href,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>